<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoryLoads</title>
    <link rel="stylesheet" href='/static/index.css'>

</head>
<body>
    <div id="intro" class="header-container fs">
        <div class="bcg">
        </div>
        <header class="wrapper">
            <h2 id="email_user"></h2>
            <h1 class="title">Salve Stories!</h1><br><br>
            <div class="container">
                <div class="container__item">
                    <form action="/save" class="form" method="POST">
                        <input type="text" name="url" class="form__field" placeholder="Digite a url do Stories!"/>
                        <input type="submit" value="Download" class="btn btn--primary btn--inside uppercase">
                        
                    </form>
                   
                </div>

                
            </div> 
            <div class="info">
                <h3>Caso tenha interesse em baixar stories de perfis não públicos.</h3>
                <hr>
                <h4>Entre em contato: zucade@gmail.com</h4>
            </div>
        </header>
        

    </div>
    
    <div class="footer-container">
        <footer class="wrapper">
            <a>©João Nogaroli  jv.nogaroli@gmail.com</a>
        </footer>
    </div>
      
</body>
</html>